{% extends 'flask_user/edit_user_profile.html' %}

{% block extra_js %}
<script src="{{ url_for('static', filename='ratings.js') }}"></script>
{% endblock %}

{% block extra_css %}
    <style>
        .checked {
            color: orange; 
        }
        .checked_average {
            color: orange; 
            border-bottom: 2px solid gold;
        }
        .average {  
            border-bottom: 2px solid gold;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
        td {
            padding: 3px;
            padding-right: 2px;
            vertical-align: middle;
        }
        /* Adjust the width of the first and second columns */
        td:first-child {
            width: 50%;  /* Adjust as needed */
        }
        td:nth-child(2) {
            width: 40%;  /* Adjust as needed */
        }
        td:nth-child(3) {
            width: 10%;  /* Adjust as needed */
        }
        .rating-count {
            text-align: right;
            padding: 0px;
        }
        .generate-button {
            margin-top: 40px; /* Adjust the value as needed */
        }

    </style>
{% endblock %}

{% block content %}
    {{ super() }}  <!-- This includes the content from the parent template's 'content' block -->
    <div>
        <h3>User Ratings</h3>
        <div style="height: 300px; /* Adjust as needed */
                    overflow-y: scroll; 
                    scrollbar-width: thin; 
                    scrollbar-color: rebeccapurple orange; /* Adjust scrollbar colors as needed */
                    width: 100%;">
        <table>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>
                    {% for i in range(1, 6) %}

                        {% if user_rating.get(movie.id) and user_rating[movie.id][0].rating >= i and average_rating[movie.id] == i %}
                        <a class="checked_average" href="#" onclick="event.preventDefault(); addRating({{ current_user.id }}, {{ movie.id }}, {{ i }}, {{ average_rating[movie.id] }}, this.id);" id='{{ movie.id }}_{{ i }}'>
                        
                        {% elif user_rating.get(movie.id) and user_rating[movie.id][0].rating >= i %}
                            <a class="checked" href="#" onclick="event.preventDefault(); addRating({{ current_user.id }}, {{ movie.id }}, {{ i }}, {{ average_rating[movie.id] }}, this.id);" id='{{ movie.id }}_{{ i }}'>
                                                    
                        {% elif average_rating[movie.id] == i %}
                            <a class="average" href="#" onclick="event.preventDefault(); addRating({{ current_user.id }}, {{ movie.id }}, {{ i }}, {{ average_rating[movie.id] }}, this.id);" id='{{ movie.id }}_{{ i }}'>
                                                    
                        {% else %}
                            <a class="" href="#" onclick="event.preventDefault(); addRating({{ current_user.id }}, {{ movie.id }}, {{ i }}, {{ average_rating[movie.id] }}, this.id);" id='{{ movie.id }}_{{ i }}'>
                            
                        {% endif %}
                        
                        <span class="fa fa-star"></span>   

                    {% endfor %}
                </td>
                <!-- Display number of ratings -->
                <td class="rating-count">({{ counts[movie.id] }})</td>
            </tr>
        {% endfor %}
        </table>
        </div>

    <!-- Button for generating recommendations -->
    <a href="{{ url_for('recommendations_page') }}">
        <button type="button" class="btn btn-primary generate-button">Generate Recommendations</button>
    </a>

{% endblock %}