{% extends "flask_user_layout.html" %}

{% block extra_js %}
<script src="{{ url_for('static', filename='ratings.js') }}"></script>
{% endblock %}

{% block extra_css %}
<style>
    .checked {
        color: orange; 
    }
    .checked_average {
        color: orange; 
        border-bottom: 2px solid gold;
    }
    .average {  
        border-bottom: 2px solid gold;
    }
    .fa-star:focus {
        outline: none;        /* Removes the default focus properties*/
        color: orange;          
        background: none;     
        text-shadow: none;    
    }

    .center {
        text-align: center;
    }

</style>

{% endblock %}



{% block content %}


<div class="container">
    
    <div class="center">
        <form class="navbar-form navbar-left" role="search" action="{{ url_for('movies_page') }}" method="get">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.args.get('q', '') }}">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="order_by_rating"> : Order by rating</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

<div class="container">
    <h2>Movies</h2>

    {% for m in movies %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b><p>{% if movie_data.get(m.id) %} - {{ movie_data[m.id].tagline }} {% endif %}</p></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <!-- Display genres -->
                        <p>
                            {% for g in m.genres %}
                                <span class="label label-default">{{ g.genre }}</span>
                            {% endfor %}
                        </p>
                        <!-- Display IMDb and TMDb links if available -->
                        {% if movie_links.get(m.id) %}
                            <p><strong>IMDb:</strong> <a href="https://www.imdb.com/title/tt{{ movie_links[m.id].imdb_id }}" target="_blank">{{ movie_links[m.id].imdb_id }}</a></p>
                            <p><strong>TMDb:</strong> <a href="https://www.themoviedb.org/movie/{{ movie_links[m.id].tmdb_id }}" target="_blank">{{ movie_links[m.id].tmdb_id }}</a></p>
                        {% endif %}
                        <!-- Display tags -->
                        {% if movie_tags.get(m.id) %}
                            <p><strong>Tags:</strong>
                                {% for tag in movie_tags[m.id] %}
                                    <span>{{ tag.tag_content }}</span>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                        
                        {% if average_rating.get(m.id) %}
                            <p><strong>Rating:</strong>
                                <span>{{ average_rating[m.id] }}</span>          
                            </p>
                        {% endif %}
                        
                        {% if votes.get(m.id) %}
                            <p><strong>Total votes:</strong>
                                <span>{{ votes[m.id] }}</span>          
                            </p>
                        {% endif %}

                        {% if movie_data.get(m.id) %}
                            <p><strong>Overview:</strong> <br>
                                <span>
                                    {{ movie_data[m.id].overview }}
                                </span>
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if movie_data.get(m.id) %}
                            <p>
                                <img src="{{ movie_data[m.id].poster }}" alt="Movie poster" width="200" height="300">
                            </p>
                        {% endif %}
                    </div>
                </div>
                <!-- Display stars based on average rating -->
                <div class="panel-footer">Rate:
                    {% for i in range(1, 6) %}
                        
                        {% if user_rating.get(m.id) and user_rating[m.id][0].rating >= i and average_rating[m.id] == i %}
                            <a class="checked_average" href="#" onclick="event.preventDefault(); addRating({{ current_user.id }}, {{ m.id }}, {{ i }}, {{ average_rating[m.id] }}, this.id);" id='{{ m.id }}_{{ i }}'>
                            
                        {% elif user_rating.get(m.id) and user_rating[m.id][0].rating >= i %}
                            <a class="checked" href="#" onclick="event.preventDefault(); addRating({{ current_user.id }}, {{ m.id }}, {{ i }}, {{ average_rating[m.id] }}, this.id);" id='{{ m.id }}_{{ i }}'>
                                                    
                        {% elif average_rating[m.id] == i %}
                            <a class="average" href="#" onclick="event.preventDefault(); addRating({{ current_user.id }}, {{ m.id }}, {{ i }}, {{ average_rating[m.id] }}, this.id);" id='{{ m.id }}_{{ i }}'>
                                                    
                        {% else %}
                            <a class="" href="#" onclick="event.preventDefault(); addRating({{ current_user.id }}, {{ m.id }}, {{ i }}, {{ average_rating[m.id] }}, this.id);" id='{{ m.id }}_{{ i }}'>
                            
                        {% endif %}
                        
                        <span class="fa fa-star"></span>     
                        
                        </a>
                    {% endfor %}
                    Stars
                </div>    
            </div>
        </div>
    {% endfor %}
</div>

<div class="center">
    {{ pagination.links }}
</div>

{% endblock %}