{% extends "flask_user_layout.html" %}

{% block extra_js %}
<script src="{{ url_for('static', filename='ratings.js') }}"></script>

<style>
    .checked {
      color: orange;
    }
</style>

{% endblock %}

{% block content %}
<div class="container">
    <h2>Movies</h2>

    {% for m in movies %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b></div>
            <div class="panel-body">
                <!-- Display genres -->
                <p>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>
                <!-- Display IMDb and TMDb links if available -->
                {% if movie_links.get(m.id) %}
                    <p>IMDb: <a href="https://www.imdb.com/title/tt{{ movie_links[m.id].imdb_id }}" target="_blank">{{ movie_links[m.id].imdb_id }}</a></p>
                    <p>TMDb: <a href="https://www.themoviedb.org/movie/{{ movie_links[m.id].tmdb_id }}" target="_blank">{{ movie_links[m.id].tmdb_id }}</a></p>
                {% endif %}
                <!-- Display tags -->
                {% if movie_tags.get(m.id) %}
                    <p>Tags:
                        {% for tag in movie_tags[m.id] %}
                            <span>{{ tag.tag_content }}</span>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <!-- Display ratings -->
                {% if ratings.get(m.id) %}
                    <p>Ratings:</p>
                    <ul>
                        {% for rating in ratings[m.id] %}
                            <li>User {{ rating.user.first_name }}: {{ rating.rating }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                
            </div>
              <div class="panel-footer">Rate:
                
                  <a href="#" onclick="event.preventDefault(); addRating({{current_user.id}}, {{ m.id }}, 1, this.id);" id='{{ m.id }}_1'><span class="fa fa-star"></span></span></a>
                  <a href="#" onclick="event.preventDefault(); addRating({{current_user.id}}, {{ m.id }}, 2, this.id);" id='{{ m.id }}_2'><span class="fa fa-star"></span></span></a>
                  <a href="#" onclick="event.preventDefault(); addRating({{current_user.id}}, {{ m.id }}, 3, this.id);" id='{{ m.id }}_3'><span class="fa fa-star"></span></span></a>
                  <a href="#" onclick="event.preventDefault(); addRating({{current_user.id}}, {{ m.id }}, 4, this.id);" id='{{ m.id }}_4'><span class="fa fa-star"></span></span></a>
                  <a href="#" onclick="event.preventDefault(); addRating({{current_user.id}}, {{ m.id }}, 5, this.id);" id='{{ m.id }}_5'><span class="fa fa-star"></span></span></a>
                   Stars
              </div>    

        </div>
    {% endfor %}
</div>

{% endblock %}